<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upcoming Events</title>
    <!-- FontAwesome CDN -->
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <!-- Global CSS -->
    <link rel="stylesheet" href="/CSS/styles.css" />
    <!-- Page-specific CSS -->
    <link rel="stylesheet" href="/CSS/events.css" />
  </head>
  <body>
    <!-- Include Header Partial -->
    <%- include('../partials/header') %>
    <%- include('../partials/sidebar') %>

    <!-- Events Section -->
    <div class = main-content>
      <section class="events-section container mt-5">
        <h1 class="text-center">Upcoming Events in Charlotte</h1>
        <!-- Search Bar -->
        <div class="mb-4">
          <input
          type="text"
          id="searchInput"
          class="form-control"
          placeholder="Search Events By Name"
          />
        </div>
        <div class="row">
          <!-- Dynamically render events -->
          <% events.forEach(function(event) { %>
          <% if (event.isActive) { %> <!-- Show only active events -->
            <div class="col-lg-custom col-md-6 mb-4" data-event-name="<%= event.title %>">
              <div class="card h-100">
                <img
                  src="<%= event.imagePath %>"
                  class="card-img-top img-fluid"
                  alt="<%= event.title %>"
                />
                <div class="card-body">
                  <h5 class="card-title"><%= event.title %></h5>
                  <p class="card-text"><%= event.description %></p>
                  <p class="card-text">
                    <small class="text-muted">Date: <%= (event.date).toUTCString() %></small>
                  </p>
                  <p class="card-text">
                    <strong>Location:</strong> <%= event.location %>
                  </p>
                  <!-- View Details button triggers the modal -->
                  <button
                    class="btn btn-primary"
                    data-toggle="modal"
                    data-target="#eventModal<%= event._id %>"
                  >
                    View Details
                  </button>
                </div>
              </div>
            </div>

            <!-- Event Details Modal for each event -->
            <div
              class="modal fade"
              id="eventModal<%= event._id %>"
              tabindex="-1"
              role="dialog"
              aria-labelledby="eventModalLabel<%= event._id %>"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="eventModalLabel<%= event._id %>">
                      <%= event.title %>
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="container-fluid">
                      <!-- Event Image (if available) -->
                      <div class="row mb-4">
                        <div class="col-md-12 text-center">
                          <% if (event.imagePath) { %>
                          <img
                            src="<%= event.imagePath %>"
                            class="img-fluid"
                            alt="<%= event.title %>"
                          />
                          <% } else { %>
                          <p>No image available for this event</p>
                          <% } %>
                        </div>
                      </div>
                      <!-- Event Details -->
                      <div class="row">
                        <div class="col-md-8">
                          <p><strong>Location:</strong> <%= event.location %></p>
                          <p><strong>Date:</strong> <%= (event.date).toUTCString() %></p>
                          <p><strong>Description:</strong></p>
                          <p><%= event.description %></p>
                          <p><strong>Owner:</strong> <%= event.userEmail %></p>
                          <% if (!event.isActive) { %>
                            <p class="text-danger"><strong>This event has already passed.</strong></p>
                          <% } %>
                          <% if (userEmail && event.userEmail === userEmail) { %>
                            <button onclick="deleteEvent('<%= event._id %>')" class="btn btn-danger">Delete Event</button>
                          <% } %>
                        </div>
                        <div class="col-md-4 text-right">
                          <!-- RSVP button -->  
                          <% if (userEmail && event.userEmail === userEmail) { %>
                            <!-- Do nothing: Hide RSVP button for event creator -->
                          <% } else if (event.isActive && userEmail && event.userEmail !== userEmail) { %>
                            <button
                            id="rsvpButton<%= event.id %>"
                            data-event-id="<%= event.id %>"
                            class="btn <%= user && user.rsvpedEvents.some(rsvp => rsvp._id.toString() === event._id.toString()) ? 'btn-success' : 'btn-primary' %>"
                            <%= user ? '' : 'disabled' %>
                            >
                            <%= user
                              ? (user.rsvpedEvents.some(rsvp => rsvp._id.toString() === event._id.toString()) ? 'RSVP Confirmed' : 'RSVP Now')
                              : 'Log in to RSVP'
                            %>
                            <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          <% }); %>
        </div>
      </section>
    </div>

    <!-- Include Footer Partial -->
    <%- include('../partials/footer') %>

    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Script to Handle RSVP tracking and Search Functionality -->
    <script>
      // Handle RSVP tracking
      document.addEventListener("DOMContentLoaded", () => {
        // RSVP Button Event Listeners
        const rsvpButtons = document.querySelectorAll("[id^='rsvpButton']");

        rsvpButtons.forEach((button) => {
          button.addEventListener('click', async () => {
            const eventId = button.dataset.eventId;

            try {
              const response = await fetch(`/events/${eventId}/rsvp`, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
              });

              if (response.ok) {
                const result = await response.json();
                const rsvpConfirmed = result.rsvpConfirmed;

                // Update button text and class
                updateRsvpButton(button, rsvpConfirmed);
              } else {
                const errorMessage = await response.text();
                alert('Error: ' + errorMessage);
              }
            } catch (error) {
              console.error('Error processing RSVP:', error);
              alert('An unexpected error occurred.');
            }
          });
        });

        function updateRsvpButton(button, isConfirmed) {
          if (isConfirmed) {
            button.textContent = "RSVP Confirmed";
            button.classList.remove("btn-primary");
            button.classList.add("btn-success");
          } else {
            button.textContent = "RSVP Now";
            button.classList.remove("btn-success");
            button.classList.add("btn-primary");
          }
        }

        // Handle Search Functionality
        const searchInput = document.getElementById("searchInput");
        const eventCards = document.querySelectorAll(".col-lg-custom");

        searchInput.addEventListener("input", function() {
          const searchTerm = this.value.toLowerCase();

          eventCards.forEach(card => {
            const eventName = card.getAttribute("data-event-name").toLowerCase();
            card.style.display = eventName.includes(searchTerm) ? "block" : "none";
          });
        });
      });

      async function deleteEvent(eventId) {
        if (confirm('Are you sure you want to delete this event?')) {
          try {
            const response = await fetch(`/events/${eventId}`, {
              method: 'DELETE',
            });
      
            if (response.ok) {
              alert('Event deleted successfully!');
              window.location.href = '/events';
            } else {
              const errorText = await response.text();
              alert('Error: ' + errorText);
            }
          } catch (err) {
            console.error('Error deleting event:', err);
            alert('An unexpected error occurred.');
          }
        }
      }
      
    </script>
  </body>
</html>
